.wrap {
    width: 1400px;
    margin: 90px auto;
}

a {
    display: block;
}

.btn, btn-primary {
    background-color: pink;
    border: none;
    border-color: transparent;
    box-shadow: none;
}

card-footer-item, has-text-info{
    background-color: pink;
    color: pink;
    float: left;
}

#writer-button{
    background-color:unset;
}

#create-button {
    float: right;
    margin: 0 0 20px 0;
}

.star-writer {
    width:70px;
}