.board_create_form {
    width: 700px;
    margin: 50px auto 20px auto;
}

.desc{
    margin-bottom: 50px;
}

#btn {
    display: block;
    width: 200px;
    margin: 30px auto 50px 250px;
    font-weight: bold;
    background-color: pink;
    border-color: pink;
}

.font-bold {
    font-weight: bold;
}