<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="footer-logo mb30">
                    <img src="../static/bootstrap-template/images/new_logo.png" class="" alt="Fitness Website Template">
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-3 col-xs-12">
                <div class="footer-widget mb30">
                    <h3 class="footer-title">About As</h3>
                    <ul class="listnone">
                        <li>운동을 시작하고 싶은데, 어디서 부터 해야할지 모르는 사람</li>
                        <li>헬스장은 부담스러워서 집에서 차근차근 운동을 하고 싶은 사람</li>
                        <li>운동 초보자분들의 더 쉽고 편안한 운동을 위한 맞춤 추천 서비스</li>
                        <li>두근득근과 함께 운동을 시작해보세요! :)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-3 col-xs-12">
                <div class="footer-widget mb30">
                    <h3 class="footer-title">Developer Links</h3>
                    <ul class="listnone">
                        <li><a href="https://velog.io/@dnwlsrla40">KIM WOO JIN</a></li>
                        <li><a href="https://fusiondeveloper.tistory.com/">SUH JUNG DAE</a></li>
                        <li><a href="https://velog.io/@yooonnn">KIM NAE YOON</a></li>
                        <li><a href="https://rlagkfla1212.tistory.com/">KIM HA LIM</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="footer-widget mb30">
                    <h3 class="footer-title">Connect With us</h3>
                    <div class="footer-social">
                        <a href="https://github.com/dnwlsrla40/heart-muscle"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
</body>
</html>