<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js%22%3E"></script>
</head>
<body>
<div class="header">
    <!-- navigation -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="logo">
                    <a href="/"><img src="../static/bootstrap-template/images/new_logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="navigation pull-right" id="navigation">
                    <ul>
                        <li class="active"><a href="/" title="Home" class="animsition-link">Home</a></li>
                        <li><a href="/video" title="Videos" class="animsition-link">Videos</a>
{#                            <ul>#}
{#                                <li><a href="classes-list.html" title="Video">Video</a></li>#}
{#                                <li><a href="classes-detail.html" title="Classes Detail">classes Detail</a></li>#}
{#                            </ul>#}
                        </li>
                        <li><a href="/posting/list" title="Blog" class="animsition-link">Posting</a>
{#                            <ul>#}
{#                                <li><a href="blog-default.html" title="Blog" class="animsition-link">Blog Default</a>#}
{#                                </li>#}
{#                                <li><a href="blog-single.html" title="Blog Single" class="animsition-link">Blog#}
{#                                    Single</a></li>#}
{#                            </ul>#}
                        </li>
{#                        <li><a href="testimonial.html" title="Features" class="animsition-link">Features</a>#}
{#                            <ul>#}
{#                                <li><a href="testimonial.html" title="Testimonial"#}
{#                                       class="animsition-link">Testimonial</a></li>#}
{#                                <li><a href="pricing.html" title="Pricing" class="animsition-link">Pricing</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                        <li><a href="/board-list" title="Contact Us" class="animsition-link">QnA</a></li>
                        <li id="login"></li>
                        <li id="logout"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- posting-list JS -->
    <script src="../../static/js/header.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/bootstrap-template/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap-template/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-template/js/menumaker.js"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="../static/bootstrap-template/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="../static/bootstrap-template/js/sticky-header.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js%22%3E"></script>
</body>
</html>