<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description"
          content="Fitness - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords"
          content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <title>Fitness-The Gym Club | Bootstrap | Free Responsive Website Templates</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap-template/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="../static/bootstrap-template/css/style.css" rel="stylesheet">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-template/css/animsition.min.css">
    <!-- Font Awesome CSS -->
    <link href="../static/bootstrap-template/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-template/css/fontello.css">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">
    <!-- owl Carousel Css -->
    <link href="../static/bootstrap-template/css/owl.carousel.css" rel="stylesheet">
    <link href="../static/bootstrap-template/css/owl.theme.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- index.css -->
    <link href="../static/bootstrap-template/css/index.css" rel="stylesheet">
</head>

<body class="animsition">
<div class="hero-section">
    {% include './common/header.html'  ignore missing %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12  col-xs-12">
                <div class="hero-caption pinside50">
                    <h1 class="hero-title">무슨 운동을 할 지 모르겠나요?</h1>
                    {#                        <p class="small-caps mb30 text-white">WANT TO TRY OUT OUR GYM FREE?</p>#}
                    <p class="hero-text">아래 버튼을 눌러 저희가 추천 드리는 영상을 확인하세요. 몇가지 설문을 통해 나에게 맞는 영상을 쉽게 찾으실 수 있습니다.</p>
                    <a id="find-my-exer" class="btn btn-default">나에게 맞는 운동 영상 찾기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">나에게 맞는 운동 영상 찾기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="select-box" style="font-size: 20px"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-next" onclick="getCode()">다음</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reset()">취소</button>
            </div>
        </div>
    </div>
</div>
{% include './common/footer.html'  ignore missing %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/bootstrap-template/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/bootstrap-template/js/bootstrap.min.js"></script>
<script src="../static/bootstrap-template/js/menumaker.js"></script>
<!-- sticky header -->
<script type="text/javascript" src="../static/bootstrap-template/js/jquery.sticky.js"></script>
<script type="text/javascript" src="../static/bootstrap-template/js/sticky-header.js"></script>
<!-- animsition -->
<script type="text/javascript" src="../static/bootstrap-template/js/animsition.js"></script>
<script type="text/javascript" src="../static/bootstrap-template/js/animsition-script.js"></script>
<!-- testimonial-carousel-->
<script type="text/javascript" src="../static/bootstrap-template/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="../static/bootstrap-template/js/testimonial-carousel.js"></script>
<!-- Back to top script -->
<script src="../static/bootstrap-template/js/back-to-top.js" type="text/javascript"></script>

<!-- index.js -->
<script type="text/javascript" src="../static/js/index.js"></script>
</body>

</html>