<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 외부 CSS 파일 반영 -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <!--<iframe src="./common/header.html"></iframe>-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="application/javascript" src="../static/js/includeHTML.js"></script>

    <title>Heart Muscle Main Page</title>
</head>
<body>
<div id="wrap">
    <header include-html="./common/header.html"></header>
    <script>includeHTML();</script>
    <p class="title">당신이 운동하고 싶은 부위는?</p>
    <div id="exer-box">
        <div id="nav-box">
            <!-- Example single danger button -->
            <div class="btn-group" id="arm-nav">
                <button type="button" class="btn btn-primary dropdown-toggle exer-button" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    팔
                </button>
                <div class="dropdown-menu" id="arm-menu">
                    <a class="dropdown-item" href="#">이두</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group" id="chest-nav">
                <button type="button" class="btn btn-primary dropdown-toggle exer-button" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    가슴
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group" id="stomach-nav">
                <button type="button" class="btn btn-primary dropdown-toggle exer-button" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    복부
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>K
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group" id="leg-nav">
                <button type="button" class="btn btn-primary dropdown-toggle exer-button" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    다리
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group" id="body-nav">
                <button type="button" class="btn btn-primary exer-button">
                    전신
                </button>
            </div>
        </div>
        <div id="line-img">
        </div>
        <div id="human-img">
        </div>
    </div>
</div>

<script type="application/javascript" src="../static/js/main.js"></script>
</body>
</html>