<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 외부 css 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="../static/css/movie.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Heart-Muscle Movie Page</title>
</head>

<body>
<div class="jumbotron" id="test">
    <h1 class="display-4">당신이 원하는 홈트 영상을 검색해보세요!</h1>
    <p class="lead">{{ part }}</p>
    <hr class="my-4">
    <p>검색어 : <input type="text" id="query"></p>
    <p class="lead">
        <a class="btn btn-outline-primary" onclick="search1()" role="button">검색</a>
    </p>
</div>


<div class="card-columns" id="card-box">
</div>

<!-- 외부 js 파일 불러오기 -->
<script type="text/javascript" src="../static/js/movie.js"></script>
</body>
</html>